.contact-us {
  background: rgba(216, 248, 255, 1);

  &__description {
    max-width: 35%;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0;
  }

  &__button .btn{
    font-weight: 900;
    font-size: 20px;
  }
}