@import "../variables";

.projects {
  background: $color-light-gray;

  &__button-group {
    margin: 40px 0;

    & .button-group {
      flex-wrap: wrap;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 20px;
    column-gap: 40px;

    &__item {
      background: $color-white-text;

      &__header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-text__header {
          font-size: 32px;
          line-height: 32px;
          margin-bottom: 20px;
        }

        &-text__subheader {
          font-weight: 200;
          font-size: 20px;
          line-height: 20px;
        }

        &-year {
          font-size: 20px;
          line-height: 20px;
        }
      }

      &__image > img{
        width: 100%;
      }
    }
  }
}