.chat-message-item {
  display: inline-block;
  background: #9cbcf8;
  padding: 10px 20px;
  border-radius: 8px;
  color: #FFFFFF;
  position: absolute;

  &.owner {
    background: #A39BFF;
    right: 0;
  }

  &__username {
    font-size: 12px;
  }

  &__wrapper {
    position: relative;
    margin-bottom: 20px;
    min-height: 60px;
  }
}