@import "@/style/variables";

.actions {
  width: 100%;

  &-header {
    padding: 10px 20px;
    display: flex;
    margin-bottom: 20px;

    &__item {
      position: relative;
      margin-right: 20px;
      transition: .3s;

      &:hover,
      &.active{
        color: $color-button-hover;

        &:before {
          content: "";
          position: absolute;
          bottom: -10px;
          width: 100%;
          height: 2px;
          background: $color-button-hover;
        }
      }
    }
  }

  &-header,
  &-list{
    background: $color-white-text;
    box-shadow: 11px 12px 22px 0 rgba(62, 128, 255, 0.18);
  }

  &-list {
    &__header {
      display: grid;
      grid-template-columns: 80px auto 170px;
      background: #FFFFFF;
      padding: 10px;
    }

    &__item {
      display: grid;
      grid-template-columns: 30px auto 110px 35px;
      align-items: center;
      padding: 20px;
      transition: .3s;

      &:hover {
        box-shadow: 11px 12px 22px 0 rgba(62, 128, 255, 0.18);
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid #f9fafb;
      }

      &--controllers >*:not(:last-of-type) {
        margin-right: 5px;
      }

      &--date,
      &--description{
        color: $color-medium-gray
      }

      &--status {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 20px;
      }

      &--name {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}