@import "@/style/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
  background: $full-screen-bg;

  &__rightside {
    display: flex;
    align-items: center;
  }

  &__theme {
    display: flex;
    align-items: center;

    & svg {
      fill: #FFFFFF;
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }
  }

  &__account {
    margin-top: 5px;
    margin-right: 20px;

    & svg {
      width: 20px;
      height: 20px;
    }
  }
}