@import "@/style/variables";

.menu-services {
  margin-right: 20px;

  &__item  {
    padding: 15px 40px;
    transition: .3s;

    &:not(:last-of-type) {
      border-bottom: 1px solid $color-medium-gray;
    }

    &:has(a.router-link-active) {
      background: #9E77ED;
      & a {
        color: $color-white-text;
      }
    }

    & a {
      text-decoration: none;
      color: $color-black-text;
    }

    &:hover {
      background: #9E77ED;
      ////opacity: .7;
      //
      & a {
        color: $color-white-text;
      }
    }

    &__icon {
      margin-right: 10px;
    }
  }
}