@import "@/style/variables";

.peoples {
  width: 100%;

  &__header {
    margin-bottom: 20px;
  }

  &__list {

    display: grid;
    padding: 40px 20px;
    box-shadow: 11px 12px 22px 0 rgba(62, 128, 255, 0.18);
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4), 1fr));
    background: $color-white-text;

    &-item {
      &:not(:last-of-type) {
        margin-right: 50px;
      }

      &:hover .peoples__list-item__image {
        box-shadow: 13px 11px 0 #6989fc;
      }

      &__name {
        margin-bottom: 20px;
        font-weight: 900;
        font-size: 20px;
      }

      &__image {
        position: relative;
        min-height: 320px;
        min-width: 240px;
        max-height: 320px;
        max-width: 240px;
        margin-bottom: 30px;

        & > img {
          position: absolute;
          object-fit: cover;
          max-width: 100%;
          max-height: 100%;
          min-width: 100%;
          min-height: 100%;
        }
      }
    }
  }
}