.projects {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 11px 12px 22px 0 rgba(62, 128, 255, 0.18);

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 20px;
    column-gap: 40px;
  }
}