@import "@/style/variables";

.profile {
  width: 100%;

  &-header,
  &-info{
    padding: 40px 20px;
    background: $color-white-text;
    box-shadow: 11px 12px 22px 0 rgba(62, 128, 255, 0.18);
  }

  &-header {
    display: flex;
    align-items: center;

    &__info {
      margin-left: 20px;
    }

    &__contacts {
      border-left: 1px solid $color-medium-gray;
      min-height: 100%;
      margin-left: auto;
      margin-right: 20px;
    }
  }

  &-info {
    margin-top: 20px;
  }
}