@import "@/style/variables";

.profile {
  width: 100%;

  &-header,
  &-info{
    padding: 40px 20px;
    background: $color-white-text;
    box-shadow: 11px 12px 22px 0 rgba(62, 128, 255, 0.18);
  }

  &-header {
    display: flex;
    align-items: center;

    &__info {
      margin-left: 20px;
    }

    &__contacts {
      border-left: 1px solid $color-medium-gray;
      min-height: 100%;
      margin-left: auto;
      margin-right: 20px;
    }
  }

  &-info {
    margin-top: 20px;

    &__header {
      display: block;
      margin-bottom: 40px;
    }

    &__fields {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(calc(33% - 20px), 1fr));
      gap: 20px;
      margin-bottom: 50px;

      & input,
      & .dropdown{
        background: #f9fafb;
      }

      & .dropdown {
        max-width: 181px;
      }
    }

    &__field input{
      font-size: 16px;
    }

    &__submit {
      display: flex;
      justify-content: center;
      //margin-top: 50px;
    }
  }
}