@import "./common/social-list";
@import "./common/button";
@import "common/section-header";
@import "common/button-group";
@import "layout/footer";
@import "variables";

body {
  padding: 0;
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  background: $color-light-gray;

  &.dark {
    background: #000000;
  }
}

a {
  //text-decoration: none;
}

#app {
  position: relative;
  min-height: 100%;
}

.white-rabbit {
  font-family: 'White Rabbit Regular';
}

.v-popper--theme-tooltip {
  & .v-popper__inner {
    background: #ffffff !important;
    color: #000000 !important;
    font-weight: 500;
    font-size: 12px;
    box-shadow: 0 8px 60px rgb(164 172 180 / 30%);
  }

  & .v-popper__arrow-outer {
    border-color: transparent;
  }
}

.content {
  min-height: 80vh;
  padding-bottom: 420px !important;

  &:not(.landing) {
    display: flex;
    padding: 0 100px;
    margin-top: 20px;
  }
}

.logo > svg {
  width: 100px;
}

.pointer {
  cursor: pointer;
}

@font-face {
  font-family: 'White Rabbit Regular';
  font-style: normal;
  font-weight: normal;
  src: local('White Rabbit Regular'), url('src/assets/fonts/WHITRABT.woff') format('woff');
}