$color-white-text: #FFFFFF;
$color-black: #000000;
$color-black-text: #000000;
$color-button-hover:#5683D9;
$transition-delay: .3s;
$full-screen-bg:linear-gradient(45deg, #9EE3FF, #C0B1FF, #A39BFF, #9EE3FF);
$color-purple: #9E77ED;
$color-light-gray: #f9fafb;
$color-medium-gray: #bbbbbb;
$color-black-text: #FFFFFF;

