$imageSize: 36px;

.account-button {
  position: relative;

  &-picture img {
    max-width: $imageSize;
    max-height: $imageSize;
    min-width: $imageSize;
    min-height: $imageSize;
    border-radius: 50%;
  }
}