@import "../variables";

.dropdown {
  min-width: 50px;

  &__selected {
    text-align: center;
  }

  &__list {
    position: absolute;
    //top: ;

    border-radius: 8px;
    background: $color-white-text;
  }

  &__item {
    transition: $transition-delay;
    padding: 5px 20px;

    &:first-of-type {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:last-of-type {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &:not(:last-of-type) {
      border-bottom: 1px $color-medium-gray solid;
    }

    &:hover {
      background: $color-medium-gray;
      color: $color-button-hover;
    }
  }
}